body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #f3f3f3;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: white;
  padding: 25px;
}

header h1 {
  margin: 0;
}
header h1 img {
  width: 97px;
  height: 32.25px;
}
header button {
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header .basic {
  background-color: white;
  color: #66c4cb;
}
header .highlight {
  background-color: #3bb3bd;
  border-radius: 4px;
  width: 100%;
  color: #f3f3f3;
  padding: 10px 10px 10px 10px;
  margin-bottom: 15px;
}

.hero {
  background-color: white;
  text-align: center;
}
.hero img {
  width: 400;
  height: 400;
}
.firstLesson {
  background-color: white;
  padding: 25px;
  margin-top: 30px;
}
.firstLesson h3 {
  font-size: 18px;
}
.firstLesson button {
  color: #66c4cb;
  background-color: white;
  border: 2px solid #e8f6f7;
  border-radius: 4px;
  padding: 10px 20px 10px 20px;
}
.study {
  display: flex;
}
.study img {
  float: left;
  width: 40px;
  height: 40px;
}
.study .infoContent {
  float: right;
}
.share {
  display: flex;
}
.share img {
  float: left;
  width: 40px;
  height: 40px;
}
.share .infoContent {
  float: right;
}
.share ul {
  list-style: none;
  padding-inline-start: 0;
}

.share ul li::before {
  content: "\2022";
  color: #ffa24d;
  font-weight: bold;
  display: inline-block;
}

.camera {
  display: flex;
}
.camera img {
  float: left;
  width: 40px;
  height: 40px;
}
.camera .infoContent {
  float: right;
}

.camera ul {
  list-style: none;
  padding-inline-start: 0;
}

.camera ul li::before {
  content: "\2022";
  color: #24bb36;
  font-weight: bold;
  display: inline-block;
}

.getAppContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background-color: #3bb3bd;
  height: 180px;
  margin-top: 30px;
}

.getAppContainer .screenMock {
  width: 125px;
}

.getAppInfo {
  padding-bottom: 20px;
  padding-left: 20px;
  width: 70%;
  height: 160px;
  color: white;
}
.getAppHeadline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.getAppHeadline h3 {
  font-weight: 400;
  padding-top: 1px;
  letter-spacing: 1px;
  font-size: 18px;
}

.getAppHeadline img {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.getAppInfo .getInfoText {
  font-size: 12px;
  width: 85%;
  line-height: 1.5;
  font-weight: 400;
}
.getAppInfo .getInfoText p {
  margin-top: 0;
}

.getAppInfo .downloadIcons img {
  width: 100px;
  padding-right: 10px;
}
footer {
  background-color: #3c4447;
  margin-top:30px;
  padding: 20px 30px 30px 30px ;
  color: #c5cacc;
  font-size:12px;
  font-weight:400;
 
}
footer p{
    line-height:1.5;
}
footer a {
  text-decoration: none;
  color: #e8f6f7;
  padding-right:10px;
}


